<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../sass/about.css">
    <title>BOBBY</title>
</head>
<body>
	<div class="main-container" id = "main-container">
        <div class="top-menu" id ='top-menu'>
            <ul>
                <li class="list-c"><i class="fa fa-times" id = "cls" onClick = "hamclose()"></i></li>
                <li class="list-c"><a href="../index.html" onClick = "hamclose()">Home</a></li>
                <li class="list-c"><a href="#about" onClick = "hamclose()">About</a></li>
                <li class="list-c"><a href="skill.html" onClick = "hamclose()">Skills</a></li>
                <li class="list-c"><a href="https://instagram.com/chandrasidhardh" onClick = "hamclose()">Mailme</a></li>
            </ul>
        </div>
        <div class="navbar">
			<div class="title"><p1 data-aos="fade-down"> <a href="../index.html">BACK</a></p1>
			</div>
            <div class="ham-bg">
                <div data-aos="fade-down" class="ham"  onClick = "hamopen()">
                    <span class="span"></span>
                    <span class="span"></span>
                    <span class="span"></span>
                </div>
            </div>
		</div>
	</div>
	<div class="main-abt">
		<div class="abt-img">
			<div class="img-bg-a">
				<img class="img" data-aos="zoom-in" src="../images/about2.jpeg">	
			</div>
			<div class="text" id ="about">
				<p class="txt">About Me</p>
				<p class="txt2">I Love Abondoned places, pleasent music<br>and space.</p>
			</div>
			<div class="img-bg">
				<img class="img" src="../images/about2.jpeg">	
			</div>
		</div>
		<div class="text2">
			<div class="txt3" data-aos="fade-right">
				<div class="tt">
					<span></span>
					<p class="num">01</p>
					<p>WHO I AM</p>
				</div>
			</div>
			<div class="txt4" data-aos="fade-right">
				<p class="h">ボビー-シドゥ</p>
				<p class="n">BOBBY</p>
				<div class="m">
					<p class="m1">
						Hi, i am Bobby. I am a Webdeveloper, pentester and a Researcher.
						I love to Travel around the world mostly Abondoned places and explore the 
						beauty of the places. As a Webdeveloper i mostly work on Front-End coz
						i love to design things beautifully and attractively. 
					</p>
				</div>
			</div>
		</div>
		<div class="text3">
			<div class="txt3" data-aos="fade-right">
				<div class="tt">
					<span></span>
					<p class="num">02</p>
					<p>PASSION</p>
				</div>
			</div>
		  	<div class="t2" >
				<div class="txt4" data-aos="fade-right">
					<p class="n">DESIGN</p>
					<div class="m">
						<p class="m1">
							Designing elements is my Passion. It helps me to increase
							my way of thinking and takes me out of the box. I work mostly 
							on Designs, look and feel so that the users can be satisfied. 
						</p>
					</div>
				</div>
				<div class="txt4" data-aos="fade-right">
					<p class="n">SPACE</p>
					<div class="m">
						<p class="m1">
							Space, everyone's dream is to explore the beauty of it. Other than 
							web-developing and Pentesting, my main aim is to become an astronuat
							and for atleast once i wanna travel to the space. Its a wonderful mistery 
							that how this huge universe birth had taken place...My dream is to solve it.
							and ILL DO IT.
						</p>
					</div>
				</div>
				<div class="txt4" data-aos="fade-right">
					<p class="n">PENTESTING</p>
					<div class="m">
						<p class="m1">
							Pentesting, In my mind - it is a way of exploring things by gaining knowledge.
							 Learinig in this field will show us how things work actually like networks, 
							operating systems etc..  Regarding this my aim is to Crack OSCP(Offensive Security Certified Professional).
						</p>
					</div>
				</div>
				<div class="footer2">
					<p class="ft-text">--- A Special Thanks to <a href="https://instagram.com/honey_hazrath127"><span>HONEY</span></a> ---</p>
				</div>
		  	</div>
		</div>
		<div class="footer">
			<p class="ft-text">--- A Special Thanks to <a href="https://instagram.com/honey_hazrath127"><span>HONEY</span></a>---</p>
		</div>
	</div>
<script src="../js/about.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>   
	AOS.init({
	offset:120,
	duration:900,
    mirror: true,
    }); 
</script>
</body>
</html>